*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* margin-top: 5px; */
}

body{
    background-color: gainsboro;
}

#mainDiv{
    width:30rem;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

#gameContent, #cntrlBtn{
    display: none;
}

#instructionDiv {
    width: fit-content;
    margin: auto;         
}

h4{
    width: fit-content;
}

button{
    padding: 3px;
}

#colorBoxContainer{
    border:2px solid black;
    min-height: 300px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5px;
}

.colorBox{
    max-height: 6.30rem;
    min-width: 6.30rem;
    border: 2px solid black;
    border-radius: 5%;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    body{
        background-color: red;
    }

    /* #mainDiv{
        width: 30rem;
    } */
}

@media screen and (min-width: 600px) and (max-width: 768px){
    body{
        background-color: green;
    }

    #mainDiv{
        width: 30rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-color: blue;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-color: cyan;
    }
}